# config.yaml
dataset:
  # корень НОВОГО YOLO-датасета
  root_dir: "dataset/yolo_dataset"
  train:
    images_dir: "images/Train"
  val:
    images_dir: "images/Val"
  unlabeled:
    images_dir: "images/Unlabeled"  # тут неразмеченные кадры (стримы с дрона и т.п.)

classes:
  - fish  # один класс

yolo:
#  base_model: "artefacts/yolov8n.pt"  # Есть более крупные версии (yolov8s, yolov8m, yolov8l, yolov8x)
#  base_model: "artefacts/yolov7-tiny.pt"
  base_model: "artefacts/yolov5nu.pt"
  img_size: 640  # 1280
  batch_size: 8
  epochs_supervised: 2 # 50 ??  # базовое обучение (только размеченные данные)
  epochs_per_iter: 2    # 20 ??  # обучение на каждом шаге Curriculum

curriculum:
  num_iters: 5
  start_percentile: 80.0   # сначала берём только самые уверенные кадры
  step_percentile: 20.0    # потом порог понижаем
  max_images_per_iter: 5   # 50?? 500 ??
  score_mode: "min"        # min/mean/max по conf боксов в кадре

output:
  labels_dir: "artefacts/labels"                            # сюда сохраним YOLO txt для train/val
  yolo_data_supervised: "artefacts/data_supervised.yaml"
  runs_supervised: "artefacts/runs/supervised_yolo"
  curriculum_dir: "artefacts/runs/curriculum_yolo"
  log_file: "artefacts/training_log.txt"                    # Путь к файлу лога