# config.yaml
dataset:
  # корень НОВОГО YOLO-датасета
  root_dir: "dataset/yolo_dataset"
  train:
    images_dir: "images/Train"
  val:
    images_dir: "images/Val"
  unlabeled:
    images_dir: "images/Unlabeled"  # тут неразмеченные кадры (стримы с дрона и т.п.)
    unlabeled_used: "images/Unlabeled_used"  # сюда копируются использованные неразмеченные изображения

classes:
  - fish  # один класс

yolo:
#  base_model: "artefacts/yolov8n.pt"  # Есть более крупные версии (yolov8s, yolov8m, yolov8l, yolov8x)
#  base_model: "artefacts/yolov7-tiny.pt"
  base_model: "artefacts/yolov5nu.pt"
  img_size: 320  # 640  # 1280
  batch_size: 8
  epochs_supervised: 10 # 50 ??  # базовое обучение (только размеченные данные)
  epochs_per_iter: 10    # 20 ??  # обучение на каждом шаге Curriculum

curriculum:
  num_iters: 10
  start_percentile: 95.0      # сначала берём только самые уверенные кадры
  step_percentile: 5.0       # потом порог понижаем
  max_images_per_iter: 200    # сколько новых unlabeled-картинок максимум можно добавить в train на одной итерации curriculum
  max_images_increase_factor: 1.1  # Увеличение max_images_per_iter на 10% в каждой итерации
  score_mode: "min"           # min/mean/max по conf боксов в кадре

output:
  labels_dir: "artefacts/labels"                            # сюда сохраним YOLO txt для train/val
  yolo_data_supervised: "artefacts/data_supervised.yaml"
  runs_supervised: "artefacts/runs/supervised_yolo"
  curriculum_dir: "artefacts/runs/curriculum_yolo"
  log_file: "artefacts/training_log.txt"                    # Путь к файлу лога